<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd5ea317-65b5-4547-80bc-5882c7ebb650/resourceGroups/PlatziEmotion/providers/Microsoft.Web/sites/PlatziEmotion</ResourceId>
    <ResourceGroup>PlatziEmotion</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://platziemotion.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>platziemotion.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlatziEmotion</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PlatziEmotion</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EmotionPlatziAzure" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:emotionplatzi.database.windows.net,1433;Initial Catalog=emotionDB;Persist Security Info=False;User ID=danielflorez111;Password=Daniel25158624;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:emotionplatzi.database.windows.net,1433;Initial Catalog=emotionDB;Persist Security Info=False;User ID=danielflorez111;Password=Daniel25158624;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EmotionPlatzi.Web.Models.EmotionPlatziWebContext, EmotionPlatzi.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EmotionPlatziWebContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:emotionplatzi.database.windows.net,1433;Initial Catalog=emotionDB;Persist Security Info=False;User ID=danielflorez111;Password=Daniel25158624;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:emotionplatzi.database.windows.net,1433;Initial Catalog=emotionDB;Persist Security Info=False;User ID=danielflorez111;Password=Daniel25158624;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=master;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EmotionPlatziWebContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EmotionPlatziWebContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:emotionplatzi.database.windows.net,1433;Initial Catalog=emotionDB;Persist Security Info=False;User ID=danielflorez111;Password=Daniel25158624;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EmotionPlatziAzure-Web.config Connection String">
      <ParameterValue>Data Source=tcp:emotionplatzi.database.windows.net,1433;Initial Catalog=emotionDB;Persist Security Info=False;User ID=danielflorez111;Password=Daniel25158624;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>